.App-header {
  min-height: 15vh;
  font-size: 2em;
  border-radius: 0% 0% 0% 80px;
  color: white;
  background-image: url("./assets/headerBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 992px) {
  .App-header {
    border-radius: 0% 0% 0% 0%;
  }
}

.custom-control-label::before {
  background-color: white;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: white;
}

.custom-switch .custom-control-label::after {
  background-color: slateblue;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: slateblue;
}
